/* css by eddie */

#bac-pal #head {
  width: 180px;
  height: 180px;
  background-image: url('smile.png');
  background-color: #bf3633;
}
#bac-pal #body {
  width: 180px;
  height: 298px;
  position: relative;
  background-image: url('ticks.png');
  background-repeat: no-repeat;
  background-color: #D7D7D7;
}
#bac-pal #body #fill-container {
  width: 180px;
  position: absolute;
  bottom: 0;
}
#bac-pal #body #waves {
  width: 180px;
  height: 22px;
  background-image: url('waves.png');
}
#bac-pal #body #fill {
  background-color: #ffb400;
  width: 180px;
  height: 100%;
}

#add-beer {
  cursor: pointer;
  -webkit-transition: box-shadow 0.1s;
  transition:         box-shadow 0.1s;
}
#add-beer:hover {
  -webkit-box-shadow: 0px 0px 12px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 12px rgba(0,0,0,0.3);
}




